<h1>Admin controls</h1>
<form method="get" action="/add">
  <input type="text" name="general_info" placeholder="General Info"></input>
  <input type="text" name="technical_specs" placeholder="Technical Specs"></input>
  <input type="text" name="where_to_buy" placeholder="Where To Buy"></input>
  <button type="submit" id="add_button">Add new product</button>
</form>
<br>
<br>
<form method="get" action="/edit">
  <select name="id">
    <% @all_products.each do |product|%>
      <option value="<%= product.id %>">
        <%= product.id.to_s + ": " + product.general_info %>
      </option>
    <% end%>
  </select>
  <input type="text" name="general_info" placeholder="New General Info"></input>
  <input type="text" name="technical_specs" placeholder="New Technical Specs"></input>
  <input type="text" name="where_to_buy" placeholder="New Where To Buy"></input>
  <button type="submit" id="edit_button">Edit product</button>
</form>
<br>
<br>
<form method="get" action="/delete">
  <select name="id">
    <% @all_products.each do |product|%>
      <option value="<%= product.id %>">
        <%= product.id.to_s + ": " + product.general_info %>
      </option>
    <% end%>
  </select>
  <button type="submit" id="delete_button">Delete product</button>
</form>