<nav>
  <ul>
    <li><a href="#general_info">General Info</a></li>
    <li><a href="#technical_specs">Technical Specs</a></li>
    <li><a href="#where_to_buy">Where to Buy</a></li>
    <li><a href="#admin">Admin</a></li>
  </ul>
</nav>
  
<div id="contents">
  
  <div id="general_info" class="tab_content">
    <%= erb :general %>
  </div>
  
  <div id="technical_specs" class="tab_content">
    <%= erb :technical %>
  </div>
  
  <div id="where_to_buy" class="tab_content">
    <%= erb :where %>
  </div>
  <div id="admin" class="tab_content">
      <%= erb :admin %>
  </div>
  
</div>